<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Feed</title>
</head>
  <body>
    <%= render 'navbar' %>

    <h1>Articles Feed</h1>
    
    <div id="article-list">
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Posted at</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @article.each do |article| %>
            <tr>
              <td> <%= link_to article.title, article_path(id: article.id) %> </td>
              <td> <%= User.find_by(id: article.user_id).name %> </td>
              <td> <%= article.created_at %> </td>
            </tr>
          <% end %>
        </tbody>
    </div>
  </body>
</html>
